.create {
  border: 2px;
  border-style: solid;
  border-radius: 20px;
  max-width: 80%;
  line-height: 1.5em;
  padding: 1em;
  background-color: whitesmoke;
}

.btn {
  margin: 15px 10px;
  border-radius: 15%;
  display: block;
  width: 25%;
}

#text {
  color: black;
}